extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/decision', method='get', class='f1')
                h3 Social Media Examine
                p Statistic Report
                div(class='f1-steps')
                    div(class='f1-progress')
                        div(class='f1-progress-line', data-now-value='90', data-number-of-steps='5',
                        style='width: 90%;')
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-id-card')
                        p(class='hidden-xs') Twitter Account
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-bar-chart')
                        p(class='hidden-xs') Statistic Report
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-user-secret')
                        p(class='hidden-xs') Anonymized Twitter Data
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-twitter')
                        p(class='hidden-xs') Original Twitter Data
                    div(class='f1-step active')
                        div(class='f1-step-icon')
                            i(class='fa fa-gavel')
                        p(class='hidden-xs') Make a Decision
                fieldset
                    h4 Make a Decision
                    div(class='f1-buttons')
                        button(type='submit', class='btn btn-yes', name='action', value='yes') Accept
                        button(type='submit', class='btn btn-no', name='action', value='no') Deny

block script