extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/review', method='get', class='f1')
                h3 Decision Detail
                fieldset
                    h4 Basic Information
                        p Name: XXX
                        p Twitter ID: XXX
                        p Decision: XXX
                    h4 Tweet Information
                        p ...
                    form(action='/portal', method='get')
                        button(type='submit', class='btn btn-submit') Back

block script