extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/portal', method='get', class='f1')
                h3 Details for [twitter_handle]’s case on [date]
                fieldset
                    h4 Basic Information
                        p Name: XXX
                        p Twitter ID: XXX
                        p Decision: XXX
                    h4 Tweet Information
                        p ...
                    div(class='f1-buttons')
                        button(type='submit', class='btn btn-yes', name='action', value='increase') Increase Retention by 1 Month
                        button(type='submit', class='btn btn-warning', name='action', value='changeDecision') Change Decision
                        button(type='submit', class='btn btn-submit', name='action', value='back') Back

block script