extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/portal', method='get', class='f1')
                h3= message
                fieldset
                    h4= info
                    div(class='f1-buttons')
                        button(type='submit', class='btn btn-submit') Home

block script