extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/login', method='post', class='f1')
                h3 Log in
                fieldset
                    div(class="form-group")
                        label(for="username") Username
                        input(type="text", name="username", class="form-control", id="username", placeholder="Username")
                    div(class="form-group")
                        label(for="psd") Password
                        input(type="password", name="psd", class="form-control", id="psd", placeholder="Password")
                    div(class="f1-buttons")
                        button(type='submit', class='btn btn-submit', name='action', value='login') Login
                        button(type='submit', class='btn btn-submit', name='action', value='forgetPassword') Forget Password
block script