extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/passcode', method='get', class='f1')
                h3 Generate Passcode for Unfiltered Content Review
                fieldset
                    h4 Generated Passcodes:
                    table(class="table table-striped")
                        thead
                            tr
                                th Passcode
                                th Valid
                        tbody
                            if typeof(data['generatedPasscodes']) != "undefined"
                                each passcode in data['generatedPasscodes']
                                    tr
                                        td= passcode['code']
                                        td= passcode['valid']
                    h4 Use/Distribute this code to access unfiltered Twitter content for a given account. This code will expire in 2 minutes.
                    input(type='text', class='form-control', value=data["passcode"], id='snipsnip')
                    div(class="f1-buttons")
                        button(type='submit', class='btn btn-success', name='action', value='generate') Generate
                        button(type='submit', class='btn btn-info', name='action', value='home')
                            span(class="glyphicon glyphicon-home", aria-hidden="true")

block script