extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/submit', method='get', class='f1')
                h3 Twitter Account Review
                p Fill in the Twitter handle
                div(class='f1-steps')
                    div(class='f1-progress')
                        div(class='f1-progress-line', data-now-value='10', data-number-of-steps='5',
                        style='width: 10%;')
                    div(class='f1-step active')
                        div(class='f1-step-icon')
                            i(class='fa fa-id-card')
                        p(class='hidden-xs') Twitter Account
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-bar-chart')
                        p(class='hidden-xs') Statistic Report
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-user-secret')
                        p(class='hidden-xs') Anonymized Twitter Data
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-twitter')
                        p(class='hidden-xs') Original Twitter Data
                    div(class='f1-step')
                        div(class='f1-step-icon')
                            i(class='fa fa-gavel')
                        p(class='hidden-xs') Make a Decision
                fieldset
                    h4 Please Enter the Twitter Account
                    div(class='form-group')

                        label(class='sr-only', for='twitter') Twitter handle
                        input(type='text', name='twitter', class='f1-twitter-account form-control', id='twitter')
                    div(class='f1-buttons')
                        button(type='submit', class='btn btn-submit', name='action', value='submit') Submit
                        button(action='action', type='button', class='btn btn-submit', onclick='history.go(-1);') Back

block script